{
  "presets": ["es2015", "stage-2"],
  "plugins": ["transform-runtime"],
  "env": {
    "testing": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*.spec.js",
            "**/Lemon*.js",
            "resources/client/src/*.js",
            "resources/client/src/components/**/*.(js|vue)",
            "resources/client/test/unit/*.js"
          ]
        }]
      ]
    }
  },
  "comments": false
}
