APP_ENV="local"
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL="debug"
APP_URL="http://localhost"

DB_CONNECTION="mysql"
DB_HOST="127.0.0.1"
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER="file"
SESSION_DRIVER="file"
QUEUE_DRIVER="sync"

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=example.com
MAIL_FROM_NAME="Your company"
MAIL_NOREPLY=${MAIL_FROM_ADDRESS}

NOCAPTCHA_SECRET=secret-key
NOCAPTCHA_SITEKEY=site-key

SENTRY_DSN=sentry_dsn
