/.idea
/node_modules
/docs
/resources/assets/test/unit/coverage
/resources/assets/test/unit/.chrome
/vendor
/public/storage
/public/index.html
/public/assets
/.env
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
